body,
* {
  transition: background-color 0.75s, color 0.1s;
}

::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, .959);
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background: #2d1950;
}

::-webkit-scrollbar {
  width: 7px;
}

.Typewriter {
  display: inline;
}

.centerer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.mb1 {
  margin-bottom: 10px;
}